<configuration>
  <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/simpleapp.log</file>
    <append>true</append>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>