<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_PATH}/simpleapp.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_PATH}/simpleapp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	        <maxFileSize>10MB</maxFileSize>
	        <maxHistory>2</maxHistory>
	        <totalSizeCap>100MB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
	    </encoder>
	</appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>